target/
*.class
*.log
*.jar
*.war
*.ear
*.iml

.vscode/
.idea/
*.ipr
*.iws
*.iml

.mvn/wrapper/maven-wrapper.jar

.settings/
.project
*.nbattrs

.DS_Store
Thumbs.db

*.tmp
*.swp
*.swo

spring-boot-*.properties
